@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 255 100% 68%;
    --redPalid: 316, 93%, 23%;
    --red: 343 96% 39%;

    --status-success: 144 74% 48%;

    
    --text: 245 21% 12%;
    --card: 291 54% 97%;
    --background: 0 0% 100%;    
    --radius: 0.5rem;
  } 

  .dark {
    --primary: 255 100% 68%;
    --redPalid: 316, 93%, 23%;
    --red: 343 96% 42%;

    --status-success: 144 74% 48%;
    
    --text: 0 0% 100%;
    --card: 245 21% 12%;
    --background:245 21% 12%;
    --radius: 0.5rem;
  }
}

@layer base {
  /* * {
      @apply border-border;
    } */
    body {
      @apply bg-background text-text;
    }

    h1,h2,h3,h4,h5,p,b,small,label {
      @apply text-text;
    }

    .toast-theme {
      @apply bg-primary text-primary;
    }
}

;